<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="tools.haha.com.androidtools"
          android:sharedUserId="com.xxx.haha">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application android:allowBackup="false"
                 android:hardwareAccelerated="true"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"
                 android:name=".MyApp"
                 android:theme="@style/AppTheme">

        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".demo.DemoMainActivity" />
        <activity android:name=".demo.MyScrollViewActivity" />
        <activity android:name=".demo.TestActivity" android:launchMode="singleTask"/>
        <activity android:name=".demo.TestActivity_1" />
        <activity android:name=".demo.ListViewActivity" />
        <activity android:name=".demo.PerfTestDemo" />
        <activity android:name=".demo.DrawerActivity" />

        <!-- service-->
        <service android:name=".demo.MyLocalService" />
        <service android:name=".demo.MyRemoteService" android:process=":service_1" />

    </application>

</manifest>
